.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 95px;
        // background-color: hsl(40, 12%, 90%);
    
        .left {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            input {
                border: none;
                border-bottom: 1px solid hsl(54, 87%, 42%);
                width: 200px;
                height: 30px;
                padding-left: 10px;
                transition: 0.1s;
                outline: none;
    
                &::placeholder{
                    color: hsl(78, 75%, 20%);
                }
    
                &:hover {
                   border-bottom: 3px solid hsl(54, 87%, 42%);
                   transition: 0.1s ;
                }
            }
    
        }
    
        .center {
            width: 60%;
            text-align: center;
    
            h1 {
                font-family: Arial, italic, sans-serif;
                color: hsl(23, 68%, 49%);
                font-weight: 100;
                cursor: pointer;
            }
    
        }
    
        .right {    
            width: 20%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;
    
            p {
                a {
    
                    text-decoration: none;
                    color: hsl(23, 93%, 45%);
                    font-size: 20px;
    
                }
            }
    
        }
    
    }
}





