.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        .con {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f6f9fe;
                .contact {
                    padding: 20px 0px;
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    margin: 0px -12px;
                        .left {
                            width: 40%;
                                h1 {
                                    font-size: 40px;
                                    margin: 0px 0px 8px;
                                    padding: 0px 0px 16px;
                                    color: #4232c2;
                                }
                                h3 {
                                    font-size: 24px;
                                    margin: 0px 0px 8px;
                                    color: #212529;
                                    font-weight: 400;
                                }
                                p {
                                    font-size: 16px;
                                    margin: 0px 0px 16px;
                                    color: #212529;
                                    font-weight: 300;
                                    line-height: 1.5;
                                }
        
                        }
                        .right {
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                                img {
                                    width: 100%;
                                }
        
                        }
                }
        }
        section {
            width: 70%;
            padding: 48px 12px;
            margin: 0px 290px;
                .title {
                    width: 100%;
                        h1 {
                            font-size: 40px;
                            margin: 0px 0px 8px;
                            padding: 16px 0px 0px;
                            color: #4232c2;
                            font-weight: 500;
                            line-height: 1.2;
                        }
                        h2 {
                            font-size: 24px;
                            margin: 0px 0px 8px;
                            color: #212529;
                            line-height: 1.2;
                            font-weight: 400;
                        }
                        p {
                            font-size: 16px;
                            margin: 0px 0px 16px;
                            padding: 0px 0px 48px;
                            font-weight: 300;
                            color: #6c757d;
                            line-height: 1.5;
                        }
                }
                .form_p {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: row;
                    .left {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                            .card {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                gap: 25px;
                                    .frame {
                                      padding: 17px 20px;
                                      border: 1px solid #DEE2E6;
                                      border-radius: 5px;
                                        #icon {
                                            font-size: 45px;
                                            color: #6266EB;
                                        }
                                    }
                                    .name {
                                      width: 50%;
                                        h5 {
                                            font-size: 20px;
                                            font-weight: 500;
                                            line-height: 1.2;
                                            color: #212529;
                                        }
                                        p {
                                            font-size: 16px;
                                            color: #6c757d;
                                            font-weight: 300;
                                            line-height: 1.5;
                                        }
                                    }   

                            }
                    }

                    .right {
                        width: 70%;  
                    }
                }
        }
}

@media screen and (min-width:320px) and (max-width:768px) {
    .container .con .contact {
        width: 90%;
        flex-direction: column;
            .left, .right {
                width: 100%;
            }
    }

    .container {
        section {
            padding: 0;
            width: 90%;
                .form_p {
                    flex-direction: column;
                        .left, .right {
                            width: 100%;
                        }
                }
        }
    }
}